function EnemyCar.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 48
pop this 2
push constant 32
pop this 3
push pointer 0
push argument 0
push argument 1
call EnemyCar.reborn 3
pop temp 0
push pointer 0
return
function EnemyCar.onScreen 0
push argument 0
pop pointer 0
push constant 1
push this 0
lt
push this 0
push this 2
add
push constant 508
lt
and
push constant 1
push this 1
lt
push this 1
push this 3
add
push constant 255
lt
and
and
return
function EnemyCar.GetX 0
push argument 0
pop pointer 0
push this 0
return
function EnemyCar.GetY 0
push argument 0
pop pointer 0
push this 1
return
function EnemyCar.isAlive 0
push argument 0
pop pointer 0
push this 4
return
function EnemyCar.reborn 0
push argument 0
pop pointer 0
push constant 0
not
pop this 4
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
function EnemyCar.die 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
pop this 4
push constant 0
return
function EnemyCar.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function EnemyCar.draw 0
push argument 0
pop pointer 0
push constant 1
push constant 4
push constant 3
push constant 29
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 2
push constant 3
push constant 4
push constant 3
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 2
push constant 30
push constant 4
push constant 30
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 4
push constant 4
push constant 4
push constant 7
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 4
push constant 26
push constant 4
push constant 29
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 5
push constant 2
push constant 41
push constant 4
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 42
push constant 3
push constant 46
push constant 4
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 47
push constant 4
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 8
push constant 1
push constant 17
push constant 1
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 30
push constant 1
push constant 39
push constant 1
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 5
push constant 29
push constant 41
push constant 31
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 42
push constant 29
push constant 46
push constant 30
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 47
push constant 29
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 8
push constant 32
push constant 17
push constant 32
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 30
push constant 32
push constant 39
push constant 32
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 39
push constant 8
push constant 39
push constant 10
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 40
push constant 9
push constant 40
push constant 11
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 39
push constant 23
push constant 39
push constant 25
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 40
push constant 22
push constant 40
push constant 24
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 42
push constant 5
push constant 44
push constant 5
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 47
push constant 5
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 48
push constant 5
push constant 48
push constant 28
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 44
push constant 6
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 45
push constant 6
push constant 45
push constant 9
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 46
push constant 8
push constant 46
push constant 25
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 47
push constant 9
push constant 47
push constant 15
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 47
push constant 18
push constant 47
push constant 24
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 45
push constant 24
push constant 45
push constant 27
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 44
push constant 27
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 42
push constant 28
push constant 44
push constant 28
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 44
push constant 28
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 15
push constant 7
push constant 28
push constant 26
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 5
push constant 5
push constant 13
push constant 5
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 21
push constant 5
push constant 23
push constant 5
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 32
push constant 5
push constant 34
push constant 5
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 5
push constant 6
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 10
push constant 6
push constant 11
push constant 6
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 14
push constant 6
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 20
push constant 6
push constant 22
push constant 6
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 30
push constant 6
push constant 31
push constant 6
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 34
push constant 6
push constant 35
push constant 6
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 9
push constant 7
push constant 10
push constant 8
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 35
push constant 7
push constant 36
push constant 9
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 8
push constant 9
push constant 9
push constant 24
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 36
push constant 10
push constant 37
push constant 23
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 9
push constant 25
push constant 10
push constant 26
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 35
push constant 24
push constant 36
push constant 26
push this 0
push this 1
call Utils.drawRectangleByOffset 6
pop temp 0
push constant 29
push constant 26
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 29
push constant 7
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 5
push constant 27
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 10
push constant 27
push constant 11
push constant 27
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 14
push constant 27
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 20
push constant 27
push constant 22
push constant 27
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 30
push constant 27
push constant 31
push constant 27
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 34
push constant 27
push constant 35
push constant 27
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 5
push constant 28
push constant 13
push constant 28
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 21
push constant 28
push constant 23
push constant 28
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 32
push constant 28
push constant 34
push constant 28
push this 0
push this 1
call Utils.drawLineByOffset 6
pop temp 0
push constant 13
push constant 6
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 14
push constant 7
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 14
push constant 26
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 13
push constant 27
push this 0
push this 1
call Utils.drawPixelByOffset 4
pop temp 0
push constant 0
return
function EnemyCar.move 0
push argument 0
pop pointer 0
push this 1
push argument 2
add
pop this 1
push this 0
push argument 1
add
pop this 0
push constant 0
return
